@use '../../../node_modules/swiper/swiper.scss';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family-menu-en: 'Cormorant Garamond', sans-serif;
  --font-family-menu-zh: 'Noto Serif TC', serif;

  --font-family-title-zh: 'Noto Serif TC', serif;
  --font-family-title-en: 'Cormorant Garamond';
  --font-family-content-zh: '微軟正黑體';
  --font-color-title: #604c3f;
  --font-title-zh-size: 2vw;
  --font-title-en-size: 2.8vw;

  --font-content-zh: '微軟正黑體';
  --font-content-color: #3e3a39;

  //45 pt
  --font-big-title-zh-size: 1.7vw;
  //36pt
  --font-small-title-zh-size: 1.4vw;

  //28pt
  --paraSize: 1vw;
  //title font-weight
  --titleWeight: 500;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

img,
video,
canvas,
iframe {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  cursor: none; /* 隱藏原生游標 */
}
#app {
  width: 100%;
  height: 100dvh;
  // background-color: #faf8f0;
}
#custom-cursor {
  position: fixed;
  width: 15px;
  will-change: transform;
  position: fixed;
  height: 15px;
  background: #5e4c3f;
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition:
    left 0.05s ease,
    top 0.05s ease;
  z-index: 9999;
  mix-blend-mode: hard-light;
  pointer-events: none;
}
.click-effect {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid #00c8ff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: clickAnim 0.6s forwards;
  z-index: 9998;
}
.sparkle {
  position: fixed;
  font-size: 20px;
  color: #ffe6fb;
  animation: sparkleFly 0.8s ease-out forwards;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 9998;
  text-shadow:
    0 0 5px #ffcaff,
    0 0 10px #ffbefa,
    0 0 20px #ff70e7;
}

.sparkle::before {
  content: '✨';
}

@keyframes sparkleFly {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -200%) scale(2) rotate(180deg);
    opacity: 0;
  }
}
@keyframes clickAnim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}

/* 愛心動畫 */
.heart {
  position: fixed;
  font-size: 20px;
  color: #ff4d89;
  animation: flyUp 0.8s ease-out forwards;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
}

.heart::before {
  content: '😂';
}

@keyframes flyUp {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -150%) scale(1.8);
    opacity: 0;
  }
}
a {
  cursor: none; /* 隱藏原生游標 */
}
