.loan-view {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f4f3ec;
  display: flex;
  flex-direction: column;
  -webkit-mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
          mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  -webkit-mask-position: 200% 0;
  mask-position: 200% 0;
}
.loan-view .title-box {
  font-size: var(--font-big-title-zh-size);
  font-family: var(--font-family-title-zh);
  letter-spacing: 0.15em;
  color: #604c3f;
  font-weight: 600;
  text-align: center;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  position: absolute;
}
@media all and (max-width: 1400px) {
  .loan-view .title-box {
    font-size: 2vw;
  }
}
.loan-view .loan-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.loan-view .loan-view-container .loan-view-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left {
    width: 70%;
    flex: 1;
  }
}
.loan-view .loan-view-container .loan-view-left .title-box {
  font-size: var(--font-big-title-zh-size);
  font-family: var(--font-family-title-zh);
  color: var(--font-color-title);
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .title-box {
    font-size: 24px;
  }
}
.loan-view .loan-view-container .loan-view-left .title-box {
  width: 100%;
  margin-bottom: 5vw;
  text-align: center;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container {
  gap: 1.5vw;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item div {
  font-family: "Noto Serif TC", serif;
  font-size: var(--page-size);
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5vw;
  color: #3e3a39;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item div {
    font-size: 18px;
  }
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item .loan-input {
  display: flex;
  align-items: center;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item .loan-input input {
  width: 14.25vw;
  font-size: var(--page-size);
  border: 0px;
  background: none;
  border-radius: 2vw;
  padding: 0.3vw 0.75vw;
  border: 1px solid #604c3f;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item .loan-input input {
    font-size: 18px;
    padding: 0.5vw 1vw;
  }
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item .loan-input p {
  font-family: "Noto Serif TC", serif;
  font-size: var(--page-size);
  font-weight: 500;
  margin-left: 1vw;
  color: #3e3a39;
  letter-spacing: 0.15em;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-input-item .loan-input p {
    font-size: 18px;
  }
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5vw;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item div {
  font-family: "Noto Serif TC", serif;
  font-size: var(--page-size);
  font-weight: 500;
  color: #3e3a39;
  letter-spacing: 0.15em;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item div {
    font-size: 18px;
  }
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main {
  display: flex;
  align-items: center;
  gap: 2.75vw;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-first,
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-second {
  display: flex;
  align-items: center;
  font-family: "Noto Serif TC", serif;
  font-size: var(--page-size);
  font-weight: 500;
  letter-spacing: 0.15em;
  color: #3e3a39;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-first,
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-second {
    font-size: 18px;
  }
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-first input,
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-second input {
  margin-right: 0.5vw;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-first input[type=radio],
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-select-item .loan-select-main .loan-select-second input[type=radio] {
  width: 0.75vw;
  height: 0.75vw;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  margin-top: 8%;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item {
    justify-content: space-between;
    gap: 1vw;
  }
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item .loan-click-clear button {
  color: #604c3f;
  border: 1px solid #604c3f;
  background-color: transparent;
  cursor: none;
  transition: all 0.25s ease-in-out;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item .loan-click-clear button:hover {
  background-color: #604c3f;
  color: #f7f8f8;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item .loan-click-cal button {
  color: #f7f8f8;
  border: none;
  background-color: #604c3f;
  cursor: none;
  border: 1px solid transparent;
  transition: all 0.25s ease-in-out;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item .loan-click-cal button:hover {
  border: 1px solid #604c3f;
  background-color: transparent;
  color: #604c3f;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item button {
  font-family: "Noto Serif TC", serif;
  font-size: var(--page-size);
  font-weight: 500;
  letter-spacing: 0.15em;
  border-radius: 2vw;
  padding-block: 0.4vw;
  padding-inline: 3.25vw;
  letter-spacing: 2px;
  transition: all 0.1s ease-in-out;
  cursor: none;
}
.loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item button:active {
  transform: scale(0.95);
  transition: all 0.1s ease-in-out;
}
@media all and (max-width: 1400px) {
  .loan-view .loan-view-container .loan-view-left .loan-view-bottom .loan-view-input-container .loan-click-item button {
    font-size: 18px;
    padding-block: 0.5vw;
    padding-inline: 3vw;
  }
}