@use '../utils/mixin' as *;
.building-view {
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  height: 100%;

  .bg-text {
    position: absolute;
    letter-spacing: 0.03em;
    writing-mode: vertical-lr;
    font-size: 5.2vw;
    font-family: 'Cormorant Infant';
    color: #e2dfdc;
    top: 5vw;
    opacity: 0.4;
    text-align: end;
    align-items: center;
    right: -1.5vw;
    z-index: 10;
    @media all and (max-width: 1440px) {
      font-size: 5.7vw;
    }
    @media all and (max-width: 1400px) {
      font-size: 6vw;
      right: -2vw;
    }
  }

  .floor-view {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-box {
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 6%;

    .title {
      @include pageTitle();
      color: #604c3f;
      margin-bottom: 0.3vw;
      overflow: hidden;
      font-weight: 600;
    }

    .small-title {
      font-family: var(--font-family-title-zh);
      color: #604c3f;
      letter-spacing: 0.1em;
      font-size: var(--font-small-title-zh-size);
      position: relative;
      padding-bottom: 1vw;
      font-weight: 600;
      margin-bottom: 1vw;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0%;
        width: 14%;
        height: 1px;
        background: #604c3f;
      }
    }

    .content {
      @include pageContent();
      color: #3e3a39;
      font-size: 1.1vw;
    }

    .icon {
      margin-top: 1vw;
      width: 10vw;
      @media all and (max-width: 1400px) {
        width: 12vw;
      }
    }
  }

  .hint {
    @include hint();
    z-index: 15;
    right: initial;
    bottom: 1vw;
    left: 1vw;
    color: white;
  }

  .daytime {
    position: absolute;
    right: 1.2vw;
    bottom: 9.7vw;
    width: 2.5vw;
    img {
      width: 100%;
    }
  }

  .night {
    position: absolute;
    right: 1.2vw;
    bottom: 6.5vw;
    width: 2.5vw;
    img {
      width: 100%;
    }
  }

  .floor-menu {
    position: absolute;
    top: 0px;
    right: 5vw;
    height: 100%;
    padding: 0vw 3vw;
    display: flex;
    flex-direction: column;
    padding-top: 8vw;
    @media all and (max-width: 1440px) {
      right: 7vw;
    }

    .floor-box {
      display: flex;
      flex-direction: column;
      color: #231815;
      .floor-title {
        font-size: 1.75vw;
        text-align: center;
        font-family: 'Crimson Text', serif;
        letter-spacing: 0.07em;
        margin-bottom: 0.3vw;
        @media all and (max-width: 1400px) {
          font-size: 1.85vw;
        }
      }
      .floor {
        font-size: 1.3vw;
        text-align: center;
        font-family: 'Crimson Text', serif;
        padding: 0.6vw 1vw;
        border-bottom: 1px solid #3e3a39;
        transition: all 0.3s ease-in-out;
        letter-spacing: 0.08em;

        @media all and (max-width: 1400px) {
          font-size: 1.45vw;
        }

        &:hover {
          background-color: #977c69b2;
          color: white;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .floor-detail {
    display: flex;
    width: 100%;
    height: 100svh;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100svh;
    z-index: 45;
    pointer-events: auto;
    background-color: #f3f2eb;

    .close-btn {
      position: absolute;
      top: 0.8vw;
      padding: 1vw;
      right: 1vw;
      width: 3.5vw;
      z-index: 50;
      img {
        width: 100%;
        transition: all 0.5s;
      }
      &:hover {
        img {
          scale: 1.25;
        }
      }
    }

    .main-box {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      .decorate {
        position: absolute;
        left: -1vw;
        font-size: 4.3vw;
        color: #e2dfdc;
        top: 24%;
        writing-mode: vertical-lr;
      }
      .left-box {
        display: flex;
        width: 40%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 40%;
        }
      }
      .right-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 47%;
        }

        .imgBoxIn {
          display: flex;
          justify-content: center;
          .box {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .detail-hint {
      position: absolute;
      @include hint();
      font-size: 19px;
      bottom: 2vw;
      right: 3vw;
    }
  }
}
