@use '../utils/mixin' as *;
.building-view {
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  .full-screen {
    @media all and (max-width: 1400px) {
      bottom: 1%;
      right: 1.5vw;
    }
  }
  .bg-text {
    position: absolute;
    letter-spacing: 0.03em;
    writing-mode: vertical-lr;
    font-size: 5vw;
    font-family: 'Cormorant Infant';
    color: #e2dfdc;
    top: 5vw;
    opacity: 0.4;
    text-align: end;
    align-items: center;
    right: -1.5vw;
    z-index: 10;
    @media all and (max-width: 1440px) {
      font-size: 5.7vw;
    }
    @media all and (max-width: 1400px) {
      font-size: 6vw;
      right: -2vw;
    }
  }

  .floor-view-box {
    @media all and (max-width: 1440px) {
      height: 100%;
    }
  }

  .floor-view {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: auto;
    }
  }

  .content-box {
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 6%;
    @media all and (max-width: 1400px) {
      top: 12%;
    }
    .title {
      @include pageTitle();
      & {
        color: #604c3f;
        overflow: hidden;
        font-weight: 600;
        position: relative;
        padding-bottom: 0.2vw;
      }
    }

    .small-title {
      font-family: var(--font-family-title-zh);
      color: #604c3f;
      letter-spacing: 0.1em;
      font-size: var(--font-small-title-zh-size);
      position: relative;
      padding-bottom: 0.8vw;
      font-weight: 600;
      margin-bottom: 1vw;
    }

    .line {
      position: absolute;
      left: 0;
      height: 1px;
      background: #604c3f;
      width: 14%;
      bottom: 0%;
    }

    .content {
      @include pageContent();
      & {
        color: #3e3a39;
        font-size: 1.1vw;
      }
      @media all and (max-width: 1400px) {
        font-size: 16px;
      }
    }

    .icon {
      margin-top: 1vw;
      width: 10vw;
      @media all and (max-width: 1400px) {
        width: 12vw;
      }
    }
  }

  .night-content-box {
    .title {
      @include pageTitle();
      & {
        color: #ffffff;
      }
    }
    .small-title {
      color: #ffffff;
    }
    .line {
      background: #ffffff;
    }
    .content {
      & {
        color: #ffffff;
      }
    }
  }

  .hint {
    @include hint();

    & {
      z-index: 15;
      right: initial;
      bottom: 0.8vw;
      left: 1vw;
      color: white;
    }
  }

  .daytime {
    position: absolute;
    right: 1.2vw;
    bottom: 7.7vw;
    width: 2vw;
    @media all and (max-width: 1440px) {
      right: 1.2vw;
      bottom: 10.5vw;
    }
    @media all and (max-width: 1400px) {
      width: 3.5vw;
      right: 1.8vw;
      bottom: 13vw;
    }
    img {
      width: 100%;
    }
  }

  .night {
    position: absolute;
    right: 1.2vw;
    bottom: 5vw;
    width: 2vw;
    @media all and (max-width: 1440px) {
      right: 1.2vw;
      bottom: 7.5vw;
    }
    @media all and (max-width: 1400px) {
      width: 3.5vw;
      right: 1.8vw;
      bottom: 8.5vw;
    }
    img {
      width: 100%;
    }
  }

  .floor-menu {
    position: absolute;
    top: 0px;
    right: 5vw;
    // height: 100%;
    padding: 0vw 3vw;
    display: flex;
    flex-direction: column;
    padding-top: 8vw;
    @media all and (max-width: 1440px) {
      right: 9vw;
      padding-top: 9vw;
    }

    .floor-box {
      display: flex;
      flex-direction: column;
      color: #231815;
      .floor-title {
        font-size: 1.75vw;
        text-align: center;
        font-family: 'Crimson Text', serif;
        letter-spacing: 0.07em;
        margin-bottom: 0.3vw;
        @media all and (max-width: 1400px) {
          font-size: 2.5vw;
        }
      }
      .floor {
        font-size: 1.3vw;
        text-align: center;
        font-family: 'Crimson Text', serif;
        padding: 0.6vw 1vw;
        border-bottom: 1px solid #3e3a39;
        transition: all 0.3s ease-in-out;
        letter-spacing: 0.08em;

        @media all and (max-width: 1400px) {
          font-size: 1.8vw;
        }

        &:hover {
          background-color: #977c69b2;
          color: white;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .floor-detail {
    display: flex;
    width: 100%;
    height: 100svh;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    z-index: 45;
    pointer-events: auto;
    background-color: #f3f2eb;

    .compass {
      position: absolute;
      top: 0.8vw;
      padding: 1vw;
      right: 1vw;
      width: 7vw;
      z-index: 50;

      @media all and (max-width: 1400px) {
        width: 8vw;
      }
      img {
        width: 100%;
      }
    }

    .main-box {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      justify-content: center;
      .decorate {
        position: absolute;
        left: -1.5vw;
        font-size: 4.8vw;
        color: #e2dfdc;
        top: 22%;
        writing-mode: vertical-lr;
        font-family: 'Cormorant Infant';
        @media all and (max-width: 1400px) {
          left: -1.5vw;
          font-size: 6.3vw;
          top: 24%;
        }
      }
      .left-box {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 40%;
          margin-left: 4vw;
          @media all and (max-width: 1400px) {
            width: 53%;
          }
        }
        .text-3F-12F-A,
        .text-3F-12F-B,
        .text-3F-12F-C,
        .text-3F-12F-D {
          margin-bottom: 8%;
        }
        .camera-box {
          z-index: 30;
          margin-left: 4vw;
          padding: 0.2vw 1.1vw;
          border-radius: 2vw;
          border: 1px solid #604c3f;
          margin-top: 1.5vw;
          display: flex;
          align-items: center;
          padding-right: 0.95vw;

          @media all and (max-width: 1400px) {
            font-size: 1.6vw;
            padding: 0.3vw 1.7vw;
            padding-right: 1.5vw;
          }

          &:hover {
            .text {
              color: #a5836d;
              transform: scale(1.05);
            }
          }

          .text {
            font-family: 'Cormorant Infant';
            color: #604c3f;
            font-size: 1.15vw;
            font-weight: bold;
            letter-spacing: 0.05em;
            transition: all 0.25s ease-in-out;
            @media all and (max-width: 1400px) {
              font-size: 1.5vw;
            }
          }
        }
      }
      .right-box {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 2vw;
        .img-box {
          position: relative;
          display: flex;
          justify-content: center;

          img {
            width: 53%;
            position: relative;
            @media all and (max-width: 1400px) {
              width: 65%;
            }
          }
        }

        // .imgBoxIn {
        //   z-index: 20;
        // }

        .btn-3f-12f {
          position: absolute;
          width: 9%;
          z-index: 9999;
          img {
            transition: all 0.25s ease-in-out;
          }

          &:hover {
            img {
              scale: 1.15;
            }
          }
        }
        .btn-3f-12f-a {
          top: 27%;
          left: 41.5%;
          @media all and (max-width: 1400px) {
            left: 40%;
          }
        }
        .btn-3f-12f-b {
          top: 27%;
          right: 38.5%;
          @media all and (max-width: 1400px) {
            right: 38%;
          }
        }
        .btn-3f-12f-c {
          top: 68%;
          left: 41.5%;
          @media all and (max-width: 1400px) {
            left: 40%;
          }
        }
        .btn-3f-12f-d {
          top: 68%;
          right: 38.5%;
          @media all and (max-width: 1400px) {
            right: 38%;
          }
        }

        .img-zoom-in {
          z-index: 20;
        }
        .floor-R1 {
          width: 52%;
          @media all and (max-width: 1400px) {
            width: 68%;
          }
        }

        .floor-3F-12F {
          width: 51%;
          @media all and (max-width: 1400px) {
            width: 67%;
          }
        }
        .floor-2F {
          @media all and (max-width: 1400px) {
            width: 62%;
          }
        }

        .floor-B1 {
          width: 56% !important;
          @media all and (max-width: 1400px) {
            width: 78% !important;
          }
        }

        .floor-B2 {
          width: 58% !important;
          @media all and (max-width: 1400px) {
            width: 82% !important;
          }
        }

        .floor-B3 {
          width: 58%;
          @media all and (max-width: 1400px) {
            width: 76% !important;
          }
        }

        .floor-B4 {
          width: 58% !important;
          @media all and (max-width: 1400px) {
            width: 77% !important;
          }
        }

        .zoom {
          right: -5%;
        }

        .top-camera {
          top: 3%;
          right: 48.7%;
          z-index: 30;
          @media all and (max-width: 1400px) {
            right: 48%;
          }
        }

        .bottom-camera {
          bottom: 3%;
          z-index: 30;
          right: 48.7%;
          @media all and (max-width: 1400px) {
            right: 48%;
          }
        }

        .imgBoxIn {
          display: flex;
          justify-content: center;
          z-index: 30;
          .box {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .detail-hint {
      @include hint();
      & {
        z-index: 15;
        right: initial;
        bottom: 0.8vw;
        left: 1vw;
      }
    }
  }

  .floor-compass-modal {
    width: 100%;
    height: 100svh;
    position: fixed;
    z-index: 50;
    inset: 0;
    background-color: #f4f3ec;

    .modal-content {
      width: 100%;
      height: 100%;
    }

    .img-box {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      position: relative;
      mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
      mask-repeat: no-repeat;
      -webkit-mask-size: 200% 100%;
      mask-size: 200% 100%;
      -webkit-mask-position: 200% 0;
      mask-position: 200% 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hint {
        @include hint();
        & {
          color: white;
          left: initial;
          right: 1vw;
        }
      }
    }

    .compass {
      position: absolute;
      left: 1.65%;
      top: 20%;
      z-index: 30;
      @media all and (max-width: 1400px) {
        left: 2.5%;
        top: 19%;
      }

      img {
        width: 7.2vw;
        @media all and (max-width: 1400px) {
          width: 11vw;
        }
      }
      .sector {
        position: absolute;
        top: 18%;
        left: 25%;
        width: 3vw;
        transition:
          transform 0.6s ease-in-out,
          filter 0.3s ease-in-out;
        transform-origin: 53% 93%;
        @media all and (max-width: 1400px) {
          top: 19%;
          left: 26%;
          width: 4.5vw;
        }
      }

      &:hover {
        .sector {
          filter: brightness(1.3);
        }
      }
    }

    .floor-select-box {
      position: fixed;
      left: 2%;
      top: 35%;
      background-color: #604c3f;
      padding-top: 1.5vw;
      padding-bottom: 1vw;
      border-radius: 15px;
      z-index: 40;
      @media all and (max-width: 1400px) {
        left: 3%;
        border-radius: 10px;
        padding: 2vw 0vw;
        padding-bottom: 1.3vw;
      }

      .slider {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        background-color: #998675;
        border-radius: 2px;
        transition: top 0.5s ease-in-out;
        will-change: top;
        z-index: 1;
      }
      .floor {
        padding: 0.25vw 1.7vw;
        text-align: center;
        z-index: 3;
        position: relative;
        // margin-bottom: 0.15vw;
        // margin-top: 0.15vw;
        @media all and (max-width: 1400px) {
          // padding: 0.4vw 2.5vw;
          // padding-bottom: 0.8vw;
        }

        div {
          color: white;
          font-size: 1.4vw;
          font-family: 'Crimson Text', serif;
          border-bottom: 1px solid white;
          padding: 0vw 0.3vw;
          z-index: 3;
          padding-bottom: 0.3vw;
          @media all and (max-width: 1400px) {
            font-size: 2vw;
            padding: 0vw 1vw;
            padding-bottom: 0.6vw;
          }
        }
        &:last-child {
          div {
            border-bottom: none;
          }
        }
      }
    }
  }
}
