#method-view {
  .method-tab-view {
    position: relative;
    width: 100%;
    height: 100%;

    .back-button {
      position: absolute;
      top: 1.7vw;
      right: 2vw;
      width: 1.5vw;

      img {
        width: 100%;
        transition: all 0.5s;
      }
      &:hover {
        img {
          scale: 1.25;
        }
      }
    }

    .tab-box {
      display: flex;
      width: 100%;
      justify-content: right;
      top: 1.5vw;
      right: 6vw;
      position: absolute;

      div {
        cursor: pointer;
        font-family: var(--font-family-title-zh);
        color: var(--font-color-title);
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: var(--font-small-title-zh-size);
        text-align: center;
        transition: all 0.5s;
        padding: 0rem 1.5rem;
        position: relative;
        &:not(:last-child)::after {
          content: '';
          position: absolute;
          right: 0;
          top: 53%;
          transform: translateY(-50%);
          height: 65%;
          border-right: 1px solid #604c3f;
        }

        &:hover {
          color: #c2a998;
        }
      }
      .active {
        color: #c2a998;
      }
    }
  }

  .method-content-box {
    width: 100%;
    height: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    align-items: center;

    .left-box {
      width: 55%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;
      img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
        z-index: 0;
      }
      img.active {
        opacity: 1;
        z-index: 1;
      }

      .window-img {
        width: 65%;
      }
    }

    .right-box {
      width: 40%;
      display: flex;
      margin-left: 6vw;
      flex-direction: column;
      position: relative;

      .alfa {
        position: absolute;
        width: 6vw;
        right: 3.5vw;
        top: 1.8vw;
      }

      .title-box {
        font-size: 1.7vw;
        font-family: var(--font-family-title-zh);
        color: var(--font-color-title);
        font-weight: 600;
        letter-spacing: 0.1em;
        padding-bottom: 1vw;
        margin-bottom: 1.5vw;
        line-height: 1.5;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0%;
          width: 10%;
          height: 1px;
          background: #604c3f;
        }
      }

      .content-box {
        display: flex;
        flex-direction: column;
        .content {
          font-size: 1.25vw;
          font-family: var(--font-content-zh);
          color: var(--font-content-color);
          line-height: 2;
          font-weight: 400;
          letter-spacing: 0.1em;
          span {
            font-weight: bold;
          }
        }

        ol {
          font-family: var(--font-content-zh);
          font-size: 1.2vw;
          color: var(--font-content-color);

          li {
            margin-bottom: 0.5em;
            line-height: 2.1;
            z-index: 1;
            position: relative;
            overflow: hidden;
            padding-left: 1vw;
            p {
              position: relative;
              font-family: var(--font-content-zh);
              color: var(--font-content-color);
              font-size: 1.25vw;
              font-weight: 400;
              margin: 0;
              z-index: 1;
              transition: color 0.75s ease;
              letter-spacing: 0.1em;
            }

            .background-block {
              position: absolute;
              top: 0;
              left: -101%;
              width: 100%;
              height: 100%;
              background: linear-gradient(to bottom, rgb(210, 124, 141) 0%, rgb(185, 93, 117) 100%);
              background: #c2a998;
              transition: left 0.5s ease;
              z-index: 0;
            }

            &.active {
              p {
                color: white;
                transition: color 0.75s ease;
              }
              .background-block {
                left: 0;
                transition: left 0.5s ease;
              }
            }
          }
        }
      }

      .control-box {
        display: flex;
        margin-top: 2vw;
        .prev,
        .next {
          min-width: 45px;
          width: 60px;
          img {
            width: 100%;
          }
        }

        .prev {
          margin-right: 2vw;
        }
      }
    }

    .window-right-box {
      width: 43%;
      margin-left: 3vw;
    }
  }
}
