@use '../utils/mixin' as *;
.portfolio-modal {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 100svh;
  left: 0;
  background-color: #f3f2eb;
  z-index: 60;

  .hint {
    @include hint();
  }

  .single-2026 {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    .img-box {
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hint {
        @include hint();
        color: white;
      }
    }
  }

  .portfolio-2024-box {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-box {
      width: 77%;
      overflow: hidden;
    }
  }

  .portfolio-2017-box {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .item {
      position: absolute;
      z-index: 10;
      width: 22%;
      top: 7%;
      left: 4%;
    }
    .img-box {
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .hint {
        @include hint();
        color: white;
      }
    }
  }

  .portfolio-2021-box {
    margin: 0 auto;
    width: 98%;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 13px;
    align-self: center;
    .left-img-box {
      flex: 0.9;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      .hint {
        @include hint();
        color: white;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right-img-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
      overflow: hidden;
      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        .hint {
          @include hint();
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .portfolio-2008-box {
    display: flex;
    width: 98%;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-self: center;
    gap: 20px;
    .img-box {
      flex: 1;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
