@use '../utils/mixin' as *;

.arial-view {
  position: relative;
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;

  .img-box {
    width: 100%;
    overflow: hidden;
    will-change: clip-path;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
    .light-video {
      mix-blend-mode: plus-lighter;
      position: absolute;
      transform: translate3d(0, 0, 0);
      z-index: 10;
      width: 10vw;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      @media all and (max-width: 1400px) {
        top: 66%;
        left: 50%;
      }
    }

    .red-line {
      width: 11%;
      z-index: 31;
      position: absolute;
      top: 46%;
      right: 13.5%;
    }
    .green-line {
      width: 82%;
      z-index: 32;
      position: absolute;
      bottom: -2.5%;
      right: 10%;
    }

    .blue-line {
      width: 79.5%;
      z-index: 30;
      position: absolute;
      bottom: 29%;
      right: 0%;
    }

    .orange-line {
      width: 50%;
      z-index: 30;
      position: absolute;
      bottom: 12%;
      left: 2.3%;
    }

    .tab3-img1 {
      width: 14%;
      z-index: 30;
      position: absolute;
      bottom: 32.7%;
      left: 37%;
    }
    .tab3-img2 {
      width: 18%;
      z-index: 30;
      position: absolute;
      bottom: 2%;
      left: 36.5%;
    }
    .tab3-img3 {
      width: 20%;
      z-index: 30;
      position: absolute;
      bottom: 10%;
      left: 65.7%;
    }

    .tab4-img1 {
      position: absolute;
      width: 1%;
      z-index: 30;
      bottom: 44%;
      left: 13.5%;
    }

    .tab4-img2 {
      position: absolute;
      width: 1%;
      z-index: 30;
      bottom: 41.7%;
      left: 36%;
    }

    .tab4-img3 {
      position: absolute;
      width: 1%;
      z-index: 30;
      bottom: 37%;
      left: 60.5%;
    }
  }
  .tab-box {
    display: flex;
    width: 100%;
    justify-content: right;
    top: 2vw;
    right: 2vw;
    position: absolute;
    z-index: 22;
    div {
      cursor: pointer;
      font-family: var(--font-family-title-zh);
      color: white;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: var(--font-small-title-zh-size);
      text-align: center;
      transition: all 0.5s;
      padding: 0rem 1.5rem;
      position: relative;
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 53%;
        transform: translateY(-50%);
        height: 65%;
        border-right: 1px solid white;
      }

      &:hover {
        color: #ecceba;
      }
    }
    .active {
      color: #ecceba;
    }
  }
  .content-box {
    position: absolute;
    z-index: 10;
    top: 4%;
    left: 7%;
    @media all and (max-width: 1400px) {
      top: 3%;
      left: 7%;
    }
    .title {
      @include pageTitle();
      color: white;
      margin-bottom: 0.5vw;
      overflow: hidden;

      div {
        overflow: hidden;

        div {
          display: flex !important;
        }
      }
    }
    .small-title {
      font-family: var(--font-family-title-zh);
      color: white;
      letter-spacing: 0.1em;
      font-size: var(--font-small-title-zh-size);
      position: relative;
      padding-bottom: 1vw;
      margin-bottom: 0.5vw;
      @media all and (max-width: 1400px) {
        padding-bottom: 1.5vw;
        margin-bottom: 1vw;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0%;
        width: 9.5%;
        height: 1px;
        background: white;
      }
    }

    .content {
      @include pageContent();
      color: white;
      font-size: 1.1vw;
      @media all and (max-width: 1400px) {
        font-size: 14px;
      }
    }
  }
}
