@use '../utils/mixin' as *;
#life-view {
  display: flex;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  .life-box {
    display: flex;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    justify-content: space-between;
    .left-box {
      display: flex;
      flex-direction: column;
      width: 20%;
      padding-top: 7.5vw;
      padding-left: 2vw;
      .title-box {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 1.2vw;
        margin-bottom: 1vw;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0%;
          width: 19%;
          height: 1px;
          background: #604c3f;
        }
        .en {
          font-family: var(--font-family-title-en);
          font-size: 1.85vw;
          color: #a48b78;
          letter-spacing: 0.06em;
          margin-bottom: 0.5vw;
        }
        .big-zh {
          letter-spacing: 0.06em;
          @include pageTitle();
          margin-bottom: 0.4vw;
        }
        .zh {
          font-family: var(--font-family-title-zh);
          font-size: var(--font-small-title-zh-size);
          color: var(--font-color-title);
          letter-spacing: 0.06em;
          font-weight: 600;
        }
      }
      .content {
        @include pageContent();
        font-size: 1vw;
      }
      .tab-item-box {
        margin-top: 2.5vw;
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          border-bottom: 1px solid #8a8a8a;
          .text {
            font-size: 1.25vw;
            color: #604c3f;
            font-family: var(--font-family-title-zh);
            font-weight: 600;
            letter-spacing: 0.15em;
            padding-top: 0.7vw;
            padding-bottom: 0.7vw;
            border: none;
          }

          .life-list-squre {
            width: 8px;
            height: 8px;
            background-color: #604c3f;
            margin-right: 1.5vw;
            border: none;
          }

          span {
            font-size: 16px;
            margin-left: 1vw;
            color: #666767;
            letter-spacing: 0.08em;
            font-weight: 400;
          }
        }
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      width: 78%;
      display: flex;
      height: 100%;
      position: relative;
      .img-box {
        width: 100%;
        position: relative;
        // height: 100%;
        img {
          width: 100%;
          //   height: 100%;
          object-fit: fill;
        }
      }
      @keyframes pointAni {
        0% {
          transform: translateY(0%);
        }
        50% {
          transform: translateY(-30%);
        }
      }

      .life-view-point {
        position: absolute;
        z-index: 10;
        width: 2vw;

        .point-img {
          position: relative;
          z-index: 10;
        }

        .radiation {
          position: absolute;
          top: 10%;
          width: 2vw;
          height: 2vw;
          opacity: 0; // 預設不顯示，active 時才顯示

          .circle {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(255, 101, 101, 0.521);
            animation-name: radiation;
            animation-duration: 1.35s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            opacity: 0;
          }

          .circle:nth-child(2) {
            animation-delay: 0.25s;
          }

          .circle:nth-child(3) {
            animation-delay: 0.5s;
          }
        }
      }

      @keyframes radiation {
        0% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(2.5);
        }
      }

      .active {
        transition: all 0.5s;
        animation: pointAni 1.5s ease infinite forwards;

        .radiation {
          opacity: 1;
          transition: opacity 0.5s;
        }
      }

      .park-point-1 {
        top: 41%;
        left: 7.5%;
      }
      .park-point-2 {
        top: 47%;
        left: 73%;
      }
      .park-point-3 {
        top: 91%;
        left: 46%;
      }
      .park-point-4 {
        top: 49.5%;
        left: 54%;
      }

      .cultural-point-1 {
        top: 65%;
        left: 78%;
      }
      .cultural-point-2 {
        top: 57.5%;
        left: 70.5%;
      }
      .cultural-point-3 {
        top: 70%;
        left: 67%;
      }
      .cultural-point-4 {
        top: 94%;
        left: 37%;
      }

      .shopping-point-1 {
        top: 86%;
        left: 57%;
      }

      .shopping-point-2 {
        top: 80%;
        left: 88%;
      }

      .shopping-point-3 {
        top: 72%;
        left: 50%;
      }

      .shopping-point-4 {
        top: 47%;
        left: 63.5%;
      }

      .shopping-point-5 {
        top: 94%;
        left: 51%;
      }

      .transit-point-1 {
        top: 5%;
        left: 39%;
      }

      .transit-point-2 {
        top: 73%;
        left: 83%;
      }

      .transit-point-3 {
        top: 12%;
        left: 78%;
      }

      .transit-point-4 {
        top: 14%;
        left: 11.5%;
      }

      .major-point-1 {
        top: 23%;
        left: 4.5%;
      }

      .major-point-2 {
        top: 14%;
        left: 37.5%;
      }

      .major-point-3 {
        top: 28%;
        left: 15%;
      }

      .major-point-4 {
        top: 17%;
        left: 79.5%;
      }

      .major-point-5 {
        top: 57%;
        left: 10%;
      }

      .major-point-6 {
        top: 17%;
        left: 66.5%;
      }
    }
  }
}
