@use '../config' as *;
.life-fancybox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f2eb;
  overflow: hidden;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .prev,
  .next {
    position: absolute;
    z-index: 50;
    top: 43%;
    width: 4%;
    padding: 1vw;
  }
  .prev {
    left: 1%;
  }
  .next {
    right: 1%;
  }
  .life-swiper {
    width: 100%;
    position: relative;
    // height: 100%;
  }
  .life-swiper-main {
    width: 100%;
    height: 100%;
    position: relative;
    .life-swiper-item {
      position: relative;
      .life-swiper-text {
        position: absolute;
        top: 85%;
        right: 0%;
        display: flex;
        flex-direction: column;
        font-size: 1.2vw;
        letter-spacing: 0.3em;
        text-align: center;
        background: white;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 0.4vw;
        padding-bottom: 0.5vw;
        opacity: 0.85;

        p {
          font-family: var(--font-family-title-zh);
          font-weight: 600;
          text-align: left;
          color: #000000;
        }
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .life-fancy-button {
    position: absolute;
    right: 2vw;
    top: 2vw;
    width: 2vw;
    height: 2vw;
    z-index: 1;
  }
}
