@use '../utils/mixin' as *;

.line-popup {
  position: absolute;
  width: 100%;
  z-index: 55;
  background-color: #f2f1ea;
  height: 100%;
  mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
  mask-repeat: no-repeat;
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  -webkit-mask-position: 200% 0;
  mask-position: 200% 0;

  .main-box {
    height: 100%;
    width: 100%;
    display: flex;

    .img-box {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .hint {
      @include hint();
      color: white;
    }

    .orange-hint {
      bottom: initial;
      top: 1%;
    }

    .title-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 22%;
      left: 5%;
      .zh {
        @include pageTitle();
        & {
          color: white;
          margin-bottom: 1vw;
        }
      }

      .en {
        font-size: 2vw;
        font-family: 'Cormorant Infant';
      }
      .green-en {
        color: #00ff00;
      }
      .red-en {
        color: #ff0000;
      }
      .orange-en {
        color: #ff5000;
      }
    }

    .main-content-box {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 42%;
      left: 5%;
      .list {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5vw;
        .small-title {
          font-family: var(--font-family-title-zh);
          letter-spacing: 0.1em;
          font-size: var(--font-small-title-zh-size);
          font-weight: 600;
        }
        .green-small-title {
          color: #00ff00;
        }
        .red-small-title {
          color: #ff0000;
        }
        .orange-small-title {
          color: #ff5000;
        }
        .content {
          @include pageContent();
          & {
            font-size: 1.1vw;
            color: white;
          }
          @media all and (max-width: 1400px) {
            font-size: 16px;
          }
        }
      }

      .btn {
        width: 7.5vw;
        margin-top: 0.5vw;
        z-index: 20;
        @media all and (max-width: 1400px) {
          width: 8.5vw;
        }
        img {
          width: 100%;
        }
      }
    }

    .line-img {
      position: absolute;
      width: 27%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      img {
        width: 100%;
      }
    }

    .red-line-img {
      width: 33%;
    }

    .orange-line-img {
      width: 28.5%;
      top: 51%;
    }

    .light {
      position: absolute;
      mix-blend-mode: plus-lighter;
      top: 47.3%;
      transform: translate(-50%, -50%);
      left: 53.4%;
      width: 5%;
      opacity: 0;
      visibility: hidden;
      animation: light 2.4s ease-in-out infinite;
      animation-play-state: paused; /* 先暫停 */
    }

    /* 動畫 keyframes */
    @keyframes light {
      0% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.2;
      }
    }
  }
}

.taipei-line-box {
  z-index: 60;
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
  mask-repeat: no-repeat;
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  -webkit-mask-position: 200% 0;
  mask-position: 200% 0;
  .main-box {
    height: 100%;
    width: 100%;
    .img-box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      width: 24vw;
      position: absolute;
      top: 6%;
      left: 10%;
      @media all and (max-width: 1400px) {
        width: 32vw;
        left: 10%;
      }
      img {
        width: 100%;
      }
    }
    .taipei-img {
      width: 69vw;
      position: absolute;
      top: 54%;
      left: 45%;
      transform: translate(-50%, -50%);
      @media all and (max-width: 1920px) {
        width: 65vw;
      }
      @media all and (max-width: 1440px) {
        width: 80vw;
        top: 49%;
        left: 50%;
      }
      img {
        width: 100%;
      }
      .hint {
        font-family: '微軟正黑體';
        font-size: 0.9vw;
        letter-spacing: 0.15em;
        margin-top: 1.3vw;
        line-height: 1.7;
        color: white;
      }
    }
  }
}
