@use '../utils/mixin' as *;
.mrt-swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 9999;
}
#mrt-swiper-container {
  .swiper-button-prev,
  .swiper-button-next {
    color: #bbaa9f !important;
  }
}
.taipei-mrt-box {
  width: 100%;
  height: 100%;
  background-image: url(../../img/metro/bg.webp);
  background-size: cover;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;

  .left-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vw;
      .en {
        width: 27vw;
      }
      .zh {
        font-size: var(--font-big-title-zh-size);
        font-family: var(--font-family-title-zh);
        color: var(--font-color-title);
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
    .taipei-mrt-content-box {
      font-size: 1.1vw;
      font-family: var(--font-content-zh);
      color: var(--font-content-color);
      line-height: 2;
      font-weight: 400;
      text-align: justify;
      letter-spacing: 0.1em;
      div {
        color: #ff4b00;
        font-family: '微軟正黑體';
        font-weight: 600;
        font-size: 1.3vw;
        margin-top: 1vw;
      }
    }
  }

  .right-box {
    width: 50%;
    position: relative;

    .zh-title {
      position: absolute;
      width: 12vw;
      right: 8%;
      top: 8%;
    }

    .wen-1 {
      position: absolute;
      width: 22vw;
      right: 0px;
      top: 28%;
    }

    .dan-2 {
      position: absolute;
      width: 37vw;
      right: 18.2%;
      top: 7.4%;
      @media all and (max-width: 1400px) {
        top: 12.4%;
      }
    }

    .ban-3 {
      position: absolute;
      width: 40vw;
      right: 3.2%;
      top: 48%;
      @media all and (max-width: 1400px) {
        top: 43%;
      }
    }

    .zhong-4 {
      position: absolute;
      width: 20vw;
      right: 55.2%;
      top: 20%;
      @media all and (max-width: 1400px) {
        top: 23%;
      }
    }

    .song-5 {
      position: absolute;
      width: 24vw;
      right: 20.2%;
      top: 43%;
      @media all and (max-width: 1400px) {
        top: 39.1%;
      }
    }

    .hai-6 {
      position: absolute;
      width: 17vw;
      right: 52.2%;
      top: 37%;
      @media all and (max-width: 1400px) {
        top: 33.7%;
      }
    }

    .gi-7 {
      position: absolute;
      width: 13vw;
      right: 68.2%;
      top: 32%;
      @media all and (max-width: 1400px) {
        top: 30.5%;
      }
    }
  }
}

.taichung-mrt-box {
  width: 100%;
  height: 100%;
  background-image: url(../../img/metro/bg.webp);
  background-size: cover;
  background-color: white;
  // position: absolute;
  // top: 0px;
  z-index: 9999;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  .left-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vw;
      .en {
        width: 27vw;
      }
      .zh {
        font-size: var(--font-big-title-zh-size);
        font-family: var(--font-family-title-zh);
        color: var(--font-color-title);
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
    .taipei-mrt-content-box {
      font-size: 1.1vw;
      font-family: var(--font-content-zh);
      color: var(--font-content-color);
      line-height: 2;
      font-weight: 400;
      text-align: justify;
      letter-spacing: 0.1em;
      div {
        color: #ff4b00;
        font-family: '微軟正黑體';
        font-weight: 600;
        font-size: 1.3vw;
        margin-top: 1vw;
      }
    }
  }

  .right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
  }
}

.taichung-mrt-box2 {
  // background-image: url(../../img/metro/bg.webp);
  // background-size: cover;
  background-image: url(none);
  background-color: #f3f2eb;
  .left-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.3vw;
      .en {
        width: 10vw;
        margin-bottom: 1vw;
      }
      .zh {
        font-size: var(--font-big-title-zh-size);
        font-family: var(--font-family-title-zh);
        color: var(--font-color-title);
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
  }

  .right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
    mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
    mask-repeat: no-repeat;
    -webkit-mask-size: 200% 100%;
    mask-size: 200% 100%;
    -webkit-mask-position: 200% 0;
    mask-position: 200% 0;
  }
}
