@mixin pageContent() {
  font-size: 1.1vw;
  font-family: var(--font-content-zh);
  color: var(--font-content-color);
  line-height: 2;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.1em;
  @media all and (max-width: 1400px) {
    font-size: 16px;
  }
}

@mixin pageTitle() {
  font-size: 1.6vw;
  font-family: var(--font-family-title-zh);
  color: var(--font-color-title);
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.5;
  @media all and (max-width: 1400px) {
    font-size: 24px;
  }
}

@mixin hint() {
  color: #3d3a39;
  font-family: '微軟正黑體';
  font-size: 15px;
  letter-spacing: 0.1em;
  position: absolute;
  right: 0.6vw;
  bottom: 0.5vw;
}
