@use '../../utils/mixin' as *;

.mansion-single-box {
  width: 100%;
  height: 100%;
  padding-left: 4vw;
  padding-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .lock-icon {
    position: absolute;
    width: 10vw;
    right: 2vw;
    top: 2vw;
    @media all and (max-width: 1400px) {
      width: 13vw;
    }
  }
  .left-box {
    width: 53%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    mask-image: linear-gradient(90deg, #000 0, #000 50%, transparent 100%);
    mask-repeat: no-repeat;
    -webkit-mask-size: 200% 100%;
    mask-size: 200% 100%;
    -webkit-mask-position: 200% 0;
    mask-position: 200% 0;

    .img-box {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }

      .hint {
        @include hint();
        & {
          color: white;
        }
      }
    }
  }

  .right-box {
    width: 42%;
    display: flex;
    margin-left: 4vw;
    flex-direction: column;
    position: relative;
    align-items: center;
    @media all and (max-width: 1400px) {
      width: 41%;
    }
    .title-img-box {
      width: 14vw;
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (max-width: 1400px) {
        width: 17vw;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
    .content-box {
      display: flex;
      flex-direction: column;
      ul {
        padding-left: 1.1vw;
        margin-top: 1vw;
      }
      ul,
      li {
        @include pageContent();
        & {
          list-style-type: disc;
        }
      }

      .content {
        @include pageContent();
        & {
          width: 91%;
        }

        span {
          font-weight: bold;
          margin-top: 1vw;
        }

        div {
          &:last-child {
            margin-top: 1vw;
          }
        }
      }
    }
  }
}

.lifegear-content-box {
  padding-left: 0.5vw;
  padding-right: 1vw;
  .left-box {
    width: 61.5%;
  }
  .right-box {
    width: 35%;
    margin-left: 0vw;
  }
}

.ehome-content-box {
  padding-left: 0.5vw;
  padding-right: 1vw;
  .left-box {
    width: 54.5%;
  }
  .right-box {
    width: 44%;
    margin-left: 0vw;
    .top-bottom-box {
      display: flex;
      flex-direction: column;
      .top-box {
        display: flex;
        margin-bottom: 2vw;
        padding-bottom: 1.5vw;
        position: relative;

        .left-img {
          width: 32%;
          display: flex;
          flex-direction: column;
          margin-top: 7%;
        }

        .right-content-box {
          display: flex;
          width: 61%;
          margin-left: 2vw;
          flex-direction: column;
          .icon {
            width: 40%;
            img {
              width: 100%;
            }
          }
          .title {
            font-family: 'Noto Serif TC';
            color: #5f4c3f;
            font-weight: 600;
            letter-spacing: 0.1em;
            font-size: 1.6vw;
            position: relative;
            padding-bottom: 0.7vw;
            margin-bottom: 0.7vw;

            &::after {
              content: '';
              position: absolute;
              background-color: #5f4c3f;
              height: 1px;
              width: 75px;
              bottom: 0px;
              left: 0%;
            }
            span {
              font-size: 0.8vw;
            }
          }
          .ul-box {
            @include pageContent();
            letter-spacing: 0.05em;
            list-style: disc;
            list-style-position: outside;
            padding-left: 1em;
            ul,
            li {
              list-style-type: disc;
            }
          }
        }
      }
      .bottom-box {
        display: flex;
        .left-img {
          width: 32%;

          display: flex;
          justify-content: center;
          img {
            width: 54%;
          }
        }
        .right-content-box {
          display: flex;
          width: 61%;
          margin-left: 2vw;
          flex-direction: column;
          .icon {
            width: 40%;
            img {
              width: 100%;
            }
          }
          .title {
            font-family: 'Noto Serif TC';
            color: #5f4c3f;
            font-weight: 600;
            letter-spacing: 0.1em;
            font-size: 1.6vw;
            position: relative;
            padding-bottom: 0.7vw;
            margin-bottom: 0.7vw;

            &::after {
              content: '';
              position: absolute;
              background-color: #5f4c3f;
              height: 1px;
              width: 75px;
              bottom: 0px;
              left: 0%;
            }
            span {
              font-size: 0.8vw;
            }
          }
          .ul-box {
            @include pageContent();
            letter-spacing: 0.05em;
            list-style: disc;
            list-style-position: outside; /* 符號在內容外面 */
            padding-left: 1em;
            ul,
            li {
              list-style-type: disc;
            }
          }
        }
      }
    }
  }
}
